@using Microsoft.AspNet.Identity;
@using BandTogether.Models.ResourceModels;
@model BandTogether.Models.TeacherModels.TeacherDetail

@{
    ViewBag.Title = "Detail";
}

<h2>@Model.FirstName @Model.LastName</h2>
@foreach (var school in Model.Schools)
{
    <p>@school.SchoolName  @school.City  @school.State</p>
}

@if (User.Identity.GetUserId() == Model.TeacherId)
{
    @Html.ActionLink("Update Profile", "Detail", "EditProfile", new { id = Model.TeacherId }, null)
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfFollowers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfFollowers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfFollowing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfFollowing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResourceCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResourceCount)
        </dd>
    </dl>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Resources.Single().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resources.Single().DateCreated)
        </th>
        @if (User.Identity.GetUserId() == Model.TeacherId)
        {
        <th>
            @Html.DisplayNameFor(model => model.Resources.Single().IsPublic)
        </th>
        }
    </tr>

    @foreach (var item in Model.Resources)
    {
        <tr>
            <td>
                @Html.ActionLink(@Html.DisplayFor(modelItem => item.Title).ToHtmlString(), "Detail", "Teacher", new { id = item.ResourceId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            @if(User.Identity.GetUserId() == Model.TeacherId)
            {
            <td>
                @Html.DisplayFor(modelItem => item.IsPublic)
            </td>
            }
        </tr>
    }

</table>
