@using Microsoft.AspNet.Identity;
@using BandTogether.Models.ResourceModels;
@model BandTogether.Models.TeacherModels.TeacherDetail

@{
    ViewBag.Title = "Detail";
    var base64 = Convert.ToBase64String(Model.ImageData);
    var contentType = Model.ContentType;
    var imgSrc = String.Format($"data:{contentType};base64,{base64}");
}

@if (User.Identity.GetUserId() == Model.TeacherId)
{
    <button class="pull-right btn">
        @Html.ActionLink("Update Profile", "Detail", "EditProfile", new { id = Model.TeacherId }, null)
    </button>
}
<div class="follow-count">
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.ResourceCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResourceCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfFollowers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfFollowers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfFollowing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfFollowing)
        </dd>
    </dl>
</div>
<div class="profile-pic">
@if (Model.FileName == "")
{
    <img src="~/Assets/noprofilepic.jpg" alt="no profile picture" />
}
else
{
<img src="@imgSrc" alt="@Model.FileName" class="" />
}
</div>
<h2>@Model.FirstName @Model.LastName</h2>
@foreach (var school in Model.Schools)
{
    <p>@school.SchoolName  @school.City  @school.State</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Resources.Single().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resources.Single().DateCreated)
        </th>
        @if (User.Identity.GetUserId() == Model.TeacherId)
        {
        <th>
            @Html.DisplayNameFor(model => model.Resources.Single().IsPublic)
        </th>
        }
    </tr>

    @foreach (var item in Model.Resources)
    {
        <tr>
            <td>
                @Html.ActionLink(@Html.DisplayFor(modelItem => item.Title).ToHtmlString(), "Detail", "Resource", new { id = item.ResourceId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            @if(User.Identity.GetUserId() == Model.TeacherId)
            {
            <td>
                @Html.DisplayFor(modelItem => item.IsPublic)
            </td>
            }
        </tr>
    }

</table>
