@using Microsoft.AspNet.Identity;
@using BandTogether.Models.ResourceModels;
@using BandTogether.Models.ResourceModels.TechniqueResourceModels;

@model BandTogether.Models.TeacherModels.TeacherDetail

@{
    ViewBag.Title = "Detail";
    var base64 = Convert.ToBase64String(Model.ImageData);
    var contentType = Model.ContentType;
    var imgSrc = String.Format($"data:{contentType};base64,{base64}");
}

@{ Html.RenderPartial("AddResource"); }

<hr />
<div class="follow-header d-flex justify-content-between">
    <dl class="">
        <dt>
            @Html.DisplayFor(model => model.ResourceCount)
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model.ResourceCount)
        </dd>
        <dt>
            @Html.DisplayFor(model => model.NumberOfFollowers)
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model.NumberOfFollowers)
        </dd>
        <dt>
            @Html.DisplayFor(model => model.NumberOfFollowing)
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model.NumberOfFollowing)
        </dd>
    </dl>
    <div class="">
        @if (User.Identity.GetUserId() == Model.TeacherId)
        {
            @Html.ActionLink("Update Profile", "Detail", "EditProfile", new { id = Model.TeacherId }, new { @class = "btn update-profile-btn" })
        }
    </div>
</div>
<hr />
<div class="d-flex justify-content-start">
    <div class="profile-pic">
        @if (Model.FileName == "")
        {
            <img src="~/Assets/noprofilepic.jpg" alt="no profile picture" />
        }
        else
        {
            <img src="@imgSrc" alt="@Model.FileName" class="" />
        }
    </div>
    <div class="d-flex flex-column justify-content-end ml-5 mb-4">
        <h2 class="">@Model.FirstName @Model.LastName</h2>
        @foreach (var school in Model.Schools)
        {
            <p class="mb-0 font-weight-bold">@school.SchoolName - @school.City, @school.State</p>
        }
    </div>
</div>
<hr />
<div class="card-columns">
    @foreach (var item in Model.Resources)
    {
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">@Html.DisplayFor(model => item.Title)</h5>
            </div>
            <div class="card-body">
                @*<p class="card-text">@Html.DisplayFor(model => item.Description)</p>*@
                @Html.ActionLink("See More", "Detail", "Resource", new { id = item.ResourceId }, new { @class = "btn btn-default" })
            </div>
            <div class="card-footer text-muted">
                <p>@Html.DisplayFor(model => item.DateCreated)</p>
            </div>
        </div>
    }
</div>
@section Scripts{

    <script>
        const tabs = document.querySelectorAll(".nav-link");
        const title = document.querySelector(".modal-title");
        title.textContent = "New Instrument Resource";
        tabs.forEach(t => t.addEventListener("click", function () {
            title.textContent = "New " + this.textContent + " Resource";
        }));
    </script>
}
