@model IEnumerable<BandTogether.Models.TeacherModels.TeacherListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Find Teachers</h2>

<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.TeacherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FollowerCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFollowed)
        </th>
    </tr>*@

    @foreach (var item in Model)
    {
        var i = 1;
        <tr>
            <td>
                @Html.ActionLink(@Html.DisplayFor(modelItem => item.TeacherName).ToHtmlString(), "Detail", "Teacher", new { id = item.TeacherId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @{
                    var count = int.Parse(@Html.DisplayFor(modelItem => item.FollowerCount).ToString());
                    <span class="follow-count">@count</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFollowed, new { id = item.TeacherId, ListCount = i })
            </td>
        </tr>
        i++;
    }

</table>
@section scripts {
    <script language="javascript" type="text/javascript">
     $(document).ready(function () {
         $("i[data-toggle='follow']")
             .css({ "cursor": "pointer" })
             .click(function (e) {
                 var target = $(e.target);
                 var teacherId = target.attr("data-id");
                 var followSet = target.hasClass("glyphicon-plus");

                 $.ajax({
                     method: followSet ? "PUT" : "DELETE",
                     url: "/api/follow/" + teacherId + "/follow",
                     data: null
                 })
                 .done(function (r) {
                     target.removeClass();
                     target.addClass("glyphicon " + (followSet ? "glyphicon-minus" : "glyphicon-plus"));
                 })
                 .fail(function (r) {
                     alert("Failed to change follow status");
                 });
             });
     });
        const icons = document.querySelectorAll(".follow-icon");
        icons.forEach(i => i.addEventListener('click', function () {
            var parent = this.parentElement.parentElement.parentElement;
            var child = parent.querySelector(".follow-count");
            num = parseInt(child.textContent);

            if (this.classList.contains("glyphicon-minus")) {
                num -= 1;
                child.textContent = num.toString();
            }
            else {
                num += 1;
                child.textContent = num.toString();
            }
        }));
    </script>
}