@using BandTogether.MVC.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_BandTogetherLayout.cshtml";
    ViewBag.Title = "Log in";
}

<div class="">
    <div class="m-auto">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal m-auto p-5 border", role = "form" }))
            {
                <h2 class="ml-5 mb-4">@ViewBag.Title</h2>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group mb-4">
                    <div class="">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-4">
                    <div class="">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                        <div class="custom-control custom-checkbox ml-5 mt-3">
                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input ml-5" })
                            @Html.LabelFor(m => m.RememberMe, htmlAttributes: new { @class= "custom-control-label"})
                        </div>
                </div>
                <div class="form-group text-center">
                    <div class="mt-4">
                        <input type="submit" value="Log in" class="btn update-profile-btn" />
                    </div>
                </div>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}