@model BandTogether.MVC.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_BandTogetherLayout.cshtml";
    ViewBag.Title = "Create a New Account";
}


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal m-auto p-4 border", role = "form" }))
{
    <h2  class="ml-5 mb-1">Sign Up</h2>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="mb-2">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
        </div>
    </div>
    <div class="form-group ">
        <div class="mb-2">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
        </div>
    </div>
    <div class="form-group">
        <div class="mb-2">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
        </div>
    </div>
    <div class="form-group">
        <div class="mb-2">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
        </div>
    </div>
    <div class="form-group">
        <div class="mb-2">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
        </div>
    </div>
    <div class="form-group text-center mt-3">
        <div class="">
            <input type="submit" class="btn update-profile-btn" value="Sign Up" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
