@model BandTogether.Models.ResourceModels.TechniqueResourceModels.TechniqueDetail
@using System.Web.Mvc;
@using BandTogether.Models.ResourceModels.TechniqueResourceModels;
@using BandTogether.Models.ResourceModels;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "TechniqueDetail";
}
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["ErrorMessage"]
    </div>
}

@if (Model.IsDownloadable)
{
    <div class="clearfix">
        <h2 class="float-left">@Html.DisplayFor(model => model.Title)</h2>
        @Html.ActionLink("Download Now", "Download", new { id = Model.FileId }, new { @class = "btn update-profile-btn float-right" })
    </div>
}
else
{
    if (User.Identity.GetUserId() == Model.TeacherId)
    {
        <div class="clearfix">
            <h2 class="float-left">@Html.DisplayFor(model => model.Title)</h2>
            @Html.ActionLink("Download Now", "Download", new { id = Model.FileId }, new { @class = "btn update-profile-btn float-right" })
        </div>
    }
    else
    {
        <div class="clearfix">
            <h2 class="float-left">@Html.DisplayFor(model => model.Title)</h2>
            <a class="btn not-downloadable float-right">Not Available</a>
        </div>
    }

}
<hr />
<div class="row">
    <div class="col-4">
        <p class="mb-0">Added: @Html.DisplayFor(model => model.DateCreated)</p>
        @if (Model.DateModified != null)
        {
            <p>Updated: @Html.DisplayFor(model => model.DateModified)</p>
        }
        <hr />
        <p class="font-weight-bold mb-0">
            Description:
        </p>
        <p>@Html.DisplayFor(model => model.Description)</p>


        <hr />
        <div class="dl-horizontal">
            <p>
                <span class="font-weight-bold">@Html.DisplayNameFor(model => model.Instrument):</span> @Html.DisplayFor(model => model.Instrument)
            </p>
            <p>
                <span class="font-weight-bold">@Html.DisplayNameFor(model => model.GradeLevel):</span> @Html.DisplayFor(model => model.GradeLevel)
            </p>
            <p>
                <span class="font-weight-bold">@Html.DisplayNameFor(model => model.Skill): </span>@Html.DisplayFor(model => model.Skill)
            </p>
        </div>
        <hr />
        <h5>@Html.ActionLink(@Html.DisplayFor(modelItem => Model.TeacherName).ToHtmlString(), "Detail", "Teacher", new { id = Model.TeacherId }, null)</h5>
        @if (User.Identity.GetUserId() == Model.TeacherId)
        {
            Html.RenderPartial("TechniqueEdit", new TechniqueEdit(Model.TeacherId, Model.ResourceId, Model.Title, Model.Description, Model.IsDownloadable, Model.IsPublic, Model.Instrument, Model.Skill, Model.GradeLevel, Model.FileName));
            Html.RenderPartial("DeleteResource", new ResourceDelete(Model.ResourceId, Model.TeacherId, Model.Title, Model.Description, Model.DateCreated));
        }
    </div>
    <div class="col-8">
        @{

            if (User.Identity.GetUserId() == Model.TeacherId)
            {

                if (Model.ContentType == "application/pdf" || Model.ContentType == "pdf")
                {

                    <iframe src="@Url.Action("File", "Resource", new { id = Model.FileId })#toolbar=0" type="@Model.ContentType" frameborder="0"></iframe>
                }
                else
                {
                    <div class="not-available text-center">
                        <p class="font-weight-bold">PDF is the only document type supported by preview at this time.  Update to PDF to be able to preview.</p>
                    </div>
                }
            }
            else
            {
                if (!Model.IsDownloadable)
                {
                    <div class="not-available text-center">
                        <p class="font-weight-bold">@Html.DisplayFor(model => model.TeacherName) is not allowing users to download this resource at this time. Please check back later or contact them directly.</p>
                    </div>
                }
                else if (Model.ContentType != "application/pdf" || Model.ContentType != "pdf")
                {
                    <div class="not-available text-center">
                        <p class="font-weight-bold">PDFs are the only document supported by preview at this time. Download the document to view.</p>
                    </div>
                }
                else
                {
                    <iframe src="@Url.Action("File", "Resource", new { id = Model.FileId })#toolbar=0" type="@Model.ContentType" frameborder="0"></iframe>
                }
            }
        }
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#TechniqueEdit').change(function () {
            var i = $(this).prev('div').clone();
            var file = $('#TechniqueEdit')[0].files[0].name;
            $(this).prev('div').text(file);
        });
    </script>
    <script>
        const header = document.getElementById("update-header");
        const input = document.getElementById("title-input");

        input.addEventListener("keyup", function () {
            var text = this.value
            header.textContent = "Update " + text;
        })
    </script>
}
