@model BandTogether.Models.ResourceModels.TechniqueResourceModels.TechniqueDetail
@using System.Web.Mvc;
@{
    ViewBag.Title = "TechniqueDetail";
}
<div class="row">
    <div class="col-4">
        <h2>@Html.DisplayFor(model => model.Title)</h2>
        <p class="mb-0">Added: @Html.DisplayFor(model => model.DateCreated)</p>
        @if (Model.DateModified != null)
        {
            <p>Updated: @Html.DisplayFor(model => model.DateModified)</p>
        }
        <hr />
        <p class="font-weight-bold mb-0">
            Description:
        </p>
        <p>@Html.DisplayFor(model => model.Description)</p>

        @if (Model.IsDownloadable)
        {
            <p>
                @Html.ActionLink("Download Now", "Download", new { id = Model.FileId })
            </p>
        }
        <hr />
        <div class="dl-horizontal">
            <p>
                <span class="font-weight-bold">@Html.DisplayNameFor(model => model.Instrument):</span> @Html.DisplayFor(model => model.Instrument)
            </p>
            <p>
                <span class="font-weight-bold">@Html.DisplayNameFor(model => model.GradeLevel):</span> @Html.DisplayFor(model => model.GradeLevel)
            </p>
            <p>
                <span class="font-weight-bold">@Html.DisplayNameFor(model => model.Skill): </span>@Html.DisplayFor(model => model.Skill)
            </p>
        </div>
        <hr />
        <h4>By: @Html.ActionLink(@Html.DisplayFor(modelItem => Model.TeacherName).ToHtmlString(), "Detail", "Teacher", new { id = Model.TeacherId }, null)</h4>
    </div>
    <div class="col-8">
        <iframe src="@Url.Action("File", "Resource", new { id = Model.FileId })" type="@Model.ContentType" frameborder="0">
        </iframe>
    </div>
</div>


@section Scripts{

}
