@using BandTogether.Models.SchoolModels;
@model BandTogether.Models.TeacherModels.TeacherDetail

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_BandTogetherLayout.cshtml";
    var base64 = Convert.ToBase64String(Model.ImageData);
    var contentType = Model.ContentType;
    var imgSrc = String.Format($"data:{contentType};base64,{base64}");
}


<div class="">
    <h2>@Model.FirstName @Model.LastName</h2>
</div>
<div class="">
    @Html.ActionLink("Update Your Name", "EditName", "EditProfile", new { id = Model.TeacherId }, new { @class = "btn btn-primary" })
</div>

<hr />
    <div class="profile-pic">
@if (Model.FileName == "")
{
        <img src="~/Assets/noprofilepic.jpg" alt="" />
}
else
{
    <img src="@imgSrc" alt="@Model.FileName" class="profile-pic" />
}
    </div>
<div class="">
    @Html.ActionLink("Update Your Profile Picture", "EditPicture", "EditProfile", new { id = Model.TeacherId }, new { @class = "btn btn-primary" })
</div>
<hr />
@if (Model.Schools.Count != 0)
{
    <ul class="list-group">
        @foreach (var item in Model.Schools)
        {
        <li class="list-group-item">
            @Html.DisplayFor(modelItem => item.SchoolName) -

            @Html.DisplayFor(modelItem => item.City),

            @Html.DisplayFor(modelItem => item.State) -

            @Html.ActionLink("Edit", "Edit", "School") |
            @Html.ActionLink("Delete", "Delete", "School")
        </li>
        }
    </ul>
}
else
{
    <p>You have not added any schools.</p>
}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-school">Add School</button>
<div class="modal" id="create-school" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @{Html.RenderPartial("CreateSchool", new SchoolCreate());}
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



