@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right ml-auto" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-right ml-auto">
        <li>
            @Html.ActionLink("Home", "NewsFeed", "Resource", null, new { @class = "btn btn-default" })
        </li>
        <li>
            @Html.ActionLink("Find Teachers", "Index", "Teacher", null, new { @class = "btn btn-default" })
        </li>
        <li>
            @Html.ActionLink("My Profile", "Detail", "Teacher", routeValues: new { id = User.Identity.GetUserId() }, htmlAttributes: new { title = "View Profile", @class = "btn btn-default" })
        </li>
        <li>
            <a class="btn btn-default" href="javascript:document.getElementById('logoutForm').submit()">Log Off</a>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-right ml-auto">
        <li>@Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
